<h2>Precheck</h2>


<% if signed_in? && @results.any? %>
  <table class="table table-bordered table-condensed" >
    <tr>
      <th style="text-align:center;">coin</th>
      <th style="text-align:center;">wallet status</th>
      <th style="text-align:center;">Wallet bal</th>
      <th style="text-align:center;">DB init </th>
      <th style="text-align:center;">DB User</th>
      <th style="text-align:center;">DB diff</th>
      <th style="text-align:center;">DB locked</th>        
      <th style="text-align:center;">diff wallet/DB</th>        
    </tr>
    <% @results.each do | r | %>
      <tr>
        <td style="text-align:center;"><%= r.ticker %></td>
        <td style="text-align:center;"><%= r.status %></td>
        <td style="text-align:center;"><%= number_with_precision(r.wallet_bal, precision: 8, delimiter: ',') %></td>   
        <td style="text-align:center;"><%= number_with_precision(r.init_bal, precision: 8, delimiter: ',') %></td>
        <td style="text-align:center;"><%= number_with_precision(r.db_bal, precision: 8, delimiter: ',') %></td>
        <td style="text-align:center;"><%= number_with_precision(r.db_diff_bal, precision: 8, delimiter: ',') %></td>
        <td style="text-align:center;"><%= number_with_precision(r.db_locked_bal, precision: 8, delimiter: ',') %></td>
        <td style="text-align:center;">
          <% if (r.wallet_bal).is_a?(Numeric) then %>
            <%= number_with_precision( (r.wallet_bal - (r.init_bal + r.db_bal + r.db_diff_bal)), precision: 8, delimiter: ',' ) %>
          <% else %>
            <%= "N/A" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
