<h2>Delete Admins Open orders</h2>

  <%= form_for( @closed_order, :url => { action: :delete_check}) do |f| %>
    <div class="form-group">
      <%= f.label :user_id %>
      <%= f.collection_select(:user_id, @admins,  :id, :email) %>
    </div>
    <div class="form-group">
      <%= f.label :coin1 %>
      <%= f.collection_select(:coin1, @cointypes,  :id, :ticker) %>
    </div>
    <div class="form-group">
      <%= f.label :coin2 %>
      <%= f.collection_select(:coin2, @cointypes,  :id, :ticker) %>
    </div>
    <div class="form-group">
      <%= f.label :updown %>
      <%= f.number_field :updown, min: 0, step: 1, max: 2 %>
      <P> 0: Sell/Buy, 1: Sell only, 2: Buy only</p>
    </div>
    <%= f.submit 'Submit' %>
  <% end %>

