
<%= render 'layouts/error_messages', object: @coinio %>

<h2><%= t('coinio.coin_inout') %></h2>

<%= render 'layouts/cointab' %>

<div style="background:white;margin:0px 2px 20px;padding:10px;">
  <h3> <%= @coinio.cointype.name %></h3>

  <table class="table table-bordered table-condensed" >
    <tr>
      <th style="text-align:center;"><%= t('coinio.item') %></th>
      <th style="text-align:center;"><%= t('coinio.amount') %>  [<%= @coinio.cointype.ticker %>]</th>
    </tr>
    <tr>
      <td style="text-align:center;"><%= t('coinio.free_bal') %></td>
      <td style="text-align:center;"><%= (@coinio.acnt.balance - @coinio.acnt.locked_bal) %></td>
    </tr>
    <tr>
      <td style="text-align:center;"><%= t('coinio.locked_bal') %></td>
      <td style="text-align:center;"><%= @coinio.acnt.locked_bal %></td>
    </tr>
    <tr>
      <td style="text-align:center;"><%= t('coinio.total_bal') %></td>
      <td style="text-align:center;"><%= @coinio.acnt.balance %></td>
    </tr>
  </table>

  <h4><%= t('coinio.transferout') %></h4>
  <% if (@coinio.acnt.balance - @coinio.acnt.locked_bal) > 0 then %>
    <%= form_for(@coinio, :url => {:action => 'create'} ) do |f| %>
      <%= f.label :addr, t('coinio.destination_addr') %>: 
      <%= f.text_field :addr, :size => 45 %>
      <br />
      <%= f.hidden_field :cointype_id %>
      <%= f.hidden_field :acnt_id %>
      <%= f.label :amt %>: 
      <%= f.number_field :amt, min: 0, step: 0.0001, :onkeyup => "update_amt_coinio()" %>
      <%= f.label :fee %>: 
      <%= f.number_field :fee, :readonly => true, :value => @coinio.cointype.fee_out, style: "border-width:1px;background:lightgray"%>
      <%= f.label :flag, t('coinio.total') %>: 
      <%= f.number_field :flag, :readonly => true, style: "border-width:1px;background:lightgray"%>[<%= @coinio.cointype.ticker %>]
      <br />
      <%= f.submit t('coinio.transferout') , class: "btn btn-large btn-primary" %>
    <% end %>
  <% else %>
    <p><%= t('coinio.no_coin') %></p>
  <% end %>
  <br />

  <h4><%= t('coinio.transferin') %></h4>
  <p><%= t('coinio.receiving_addr') %>: 
    <br /><%= @addr_s %></P>
  <div id="qrcode" >
    <%= raw @qr.as_html %> 
  </div>
  <br />

  <h4><%= t('coinio.trans_hist') %></h4>

  <% if signed_in? && @coinios.any? %>
    <table class="table table-bordered table-condensed" >
      <tr>
        <th style="text-align:center;"><%= t('coinio.date') %></th>
        <th style="text-align:center;"><%= t('coinio.tr_category') %></th>
        <th style="text-align:center;"><%= t('coinio.amount') %> [<%= @coinio.cointype.ticker %>]</th>
        <th style="text-align:center;"><%= t('coinio.fee') %> [<%= @coinio.cointype.ticker %>]</th>
        <th style="text-align:center;"><%= t('coinio.status') %></th>
      </tr>
      <% @coinios.each do | co | %>
        <tr>  
          <td style="text-align:center;"><%= l(co.created_at, format: :short) %></td>
          <td style="text-align:center;"><%= coinio_category(co.tx_category) %></td>
          <td style="text-align:center;"><%= co.amt %></td>
          <td style="text-align:center;"><%= co.fee %></td>
          <td style="text-align:center;"><%= coinio_flag(co.flag) %></td>
        </tr>
      <% end %>
    </table>
    <%= page_entries_info(@coinios) %>
    <br />
    <%= paginate @coinios %>
  <% else %>
    <p><%= t('coinio.no_coinio') %></p>  
  <% end %>
</div>