<h2> <%= t('order.order_detail') %></h2>
<div style="padding:10px;background:white;margin:10px 10px 15px;">
  <table class="table table-bordered table-condensed" >
    <tr>
      <th style="text-align:center;"><%= t('order.order_date') %></th>
      <th style="text-align:center;"><%= @coin_a.ticker %> <%= t('order.sell_buy') %></th>
      <th style="text-align:center;"><%= t('order.rate') %> <%= @coin_a.ticker %> / <%= @coin_b.ticker %></th>
      <th style="text-align:center;"><%= t('order.order_amount') %> [<%= @coin_a.ticker %>] </th>
      <th style="text-align:center;"><%= t('order.remaining_amount') %> [<%= @coin_a.ticker %>] </th>
      <th style="text-align:center;"><%= t('order.order_amount') %> [<%= @coin_b.ticker %>] </th>
      <th style="text-align:center;"><%= t('order.remaining_amount') %> [<%= @coin_b.ticker %>] </th>
      <th style="text-align:center;"><%= t('order.status') %></th>
    </tr>
    <tr>  
     <td style="text-align:center;"><%= l(@order.created_at, format: :short) %></td>
     <td style="text-align:center;"><%= order_buysell(@order.buysell) %></td>   
     <td style="text-align:center;"><%= @order.rate %></td>
     <td style="text-align:center;"><%= @order.amt_a_org %></td>
     <td style="text-align:center;"><%= @order.amt_a %></td>   
     <td style="text-align:center;"><%= @order.amt_b_org %></td>
     <td style="text-align:center;"><%= @order.amt_b %></td>   
     <td style="text-align:center;"><%= order_flag(@order.flag) %></td>
    </tr>
  </table>
  <%= link_to t('order.back'), @path %>  
</div>